#loadMenu {
    flex-direction: column;
    gap: var(--gap);
    
    height: 100%;
    width: 100%;
    
    padding: var(--resting-area-padding);
    
    animation: nivixFadeIn 0.8s var(--transition-easing-style) forwards;

    .center {
        flex: 1;
    }
    
    svg {
        width: 10%;
        aspect-ratio: 1;
    }
    
    h1 {
        color: var(--brand-primary);
        transform: scale(1.5);
        
        sup {
            font-size: 0.5em;
        }
    }
    
    .nivix-footer {
        box-sizing: border-box;
        width: 100%;
    }

    .nivix-horizontal-navigation {
        padding: 0;
    }
}

/* Small Screen Support */

@media screen and (max-width: 256px) {
    .load-icon {
        width: 95%;
        height: auto;
    }
}

@media screen and (max-height: 256px) {
    .load-icon {
        width: auto;
        height: 95%;
    }
}