#settings {
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    
    .sub-tab-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        
        .tab {
            flex-direction: column;
            flex: 1;
            gap: var(--gap);
            
            box-sizing: border-box;
            width: 85%;
            
            padding: calc(var(--resting-area-padding) * 2);

            .center {
                flex: 1;
            }
            
            hr {
                box-sizing: border-box;
                width: 100%;
            }
        }
    }
    
    @media (max-width: 560px) {
        .sub-tab-container .tab {
            width: 100%;
        }
    }
}